{{template "base/head" .}}
<div role="main" aria-label="{{.Title}}" class="page-content repository new migrate">
	<div class="ui container">
		<h2 class="tw-mt-4">{{ctx.Locale.Tr "migrate.select.title"}}</h1>
		{{template "repo/migrate/helper" .}}
		<div class="migrate-entries">
			{{range .Services}}
				<a class="migrate-entry tw-items-center" href="{{AppSubUrl}}/repo/migrate?service_type={{.}}&org={{$.Org}}&mirror={{$.Mirror}}">
					{{if eq .Name "github"}}
						{{svg "octicon-mark-github" 184}}
					{{else if eq .Name "github_metadata"}}
						{{svg "octicon-mark-github" 184}}
					{{else}}
						{{svg (printf "gitea-%s" .Name) 184}}
					{{end}}
					<div class="content">
						<h3>
							{{.Title}}
						</h3>
						<div class="description">
							{{ctx.Locale.Tr (printf "migrate.%s.description" .Name)}}
						</div>
					</div>
				</a>
			{{end}}
		</div>
	</div>
</div>
{{template "base/footer" .}}
